:root {
    --color-fondo: rgb(219, 213, 43);
    --color-header: linear-gradient(to top, rgb(20, 2, 34),rgb(86, 67, 127));
    --color-item-blue: linear-gradient(to bottom,rgb(41, 108, 255), rgb(23, 48, 123));
    --color-item-orange: linear-gradient(to bottom,orange, rgb(183, 86, 21));
    --city-box-bg: linear-gradient(to bottom, rgb(219, 213, 43),rgb(87, 24, 59));
    --fondo-pagina: linear-gradient(to top, rgb(219, 213, 43),rgb(87, 24, 59));
    --padding-caja-contenedor: 20px;
    --ancho-contenedor: 100%;
}

body {
    padding: var( --padding-caja-contenedor);
    margin: 0, auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background: var(--fondo-pagina);
}

header {
    background: var(--color-header);
    box-shadow: 3px 3px 25px 0 rgb(101, 54, 54); /*Se agregó una sombra al navbar*/
    position: sticky;
    top: 0;
    max-width: var(--ancho-contenedor);
}

.texto-blanco {
    color: rgb(255, 255, 255);
}   

.fondo-purpura {
    background: var(--color-header);
}

.box-header {
    display: inline-block;
    margin: 9;
    padding: 1%;
    vertical-align: top;
    flex-grow: 1;
}

.logo {
    width: 27%;
    height: 20px; 
    padding: 0 0 0 1%;
    align-self: flex-start;
}

.link-container {
    width: 50%; /*Cambiamos el tamaño de los enlaces para que abarquen más espacio*/
    text-align: right;
    line-height: 30px;
}

.city-box{

    width: 25%;
}


.box{
    width: 300px;
    height: 500px;
    background: var(--city-box-bg);
    border: 5px solid rgb(95, 7, 7);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    align-self: flex-start;
}

.box-padding {
    padding: 15px 50px;
}

.box-margin {
    margin: 15px;
}

.photo {
    width: 300px;
    height: 200px; 
    
}

.contact-link {
    width: 25%;
    text-align: center;
    line-height: 40px; /*Modificamos la altura de la línea para que los enlaces se coloquen en el centro (verticalmente).*/
}

.nav-link {
    color: rgb(242, 255, 0); 
    font-size: 16px;
}

.container {
    border: 5px solid black;
    display: flex;
    max-width: var(--ancho-contenedor);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
   
}

.colorBox {
    width: 70%;
    align-self: stretch;

}

.item {
    background: #70ea33;
    color: white;
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    width: 25%;
    display: inline-block;
}

.item-1 {
    align-self: flex-start;
    background: var(--color-item-blue);
}

.item-2 {
    flex-grow: 2;
    align-self: flex-start;
    background: var(--color-item-orange);
}

.item-3 {
    align-self: flex-start;
    background: var(--color-item-blue);
}

.item-4 {
    align-self: center;
    background: var(--color-item-orange);
    flex-grow: 10;
}

.item-5 {
    align-self: center;
    background: var(--color-item-blue);
}

.item-6 {
    align-self: center;
    background: var(--color-item-orange);
}
.item-7 {
    align-self: flex-end;
    background: var(--color-item-blue);
}
.item-8 {
    align-self: flex-end;
    background: var(--color-item-orange);
}

.item-9 {
    align-self: flex-end;
    background: var(--color-item-blue);
    flex-grow: 10;
}