header { 
    background-color: rgb(35, 9, 97); 
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

a {
    color: white; 
    margin-left: 20px; 
    font-weight: bold;
}

.logo{ 
    width: 20%;
    padding-left: 180px;
}

.caja{
    display: grid;
    grid-template-areas:
        "header header"
        "noticias tareas"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.seccion-tareas{
    overflow: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
