
.destacado {
    color: rgb(5, 6, 34);
    font-size: 16px;
    font-family: Oswald, Arial, serif;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    /*letter-spacing: 20px;*/
    border-width: 5px;
    border-style: black;
    border-color: rgb(175, 140, 46) ;
    border-radius: 10px;
    padding: 1%;
    border: 2px solid light-gray

}

.texto-rojo {
    color: rgb(255, 255, 255);
}   

.fondo-azul {
    background-color: rgb(87, 24, 59);
}

#encabezado-2 {
    background-color: rgb(203, 203, 122);
    color: rgb(69, 43, 19);
}

body {
    padding: 0;
    margin: 0;
    font-family: Fira Sans, Arial, Helvetica, sans-serif; /*Se agregó el tipo de letra Fira Sans*/
    font-size: 16px;
}

header {
    background-color: rgb(87, 24, 59);
    box-shadow: 3px 3px 25px 0 rgb(101, 54, 54); /*Se agregó una sombra al navbar*/
    position: sticky;
    top: 0;
}

.box-header {
    display: inline-block;
    margin: 9;
    padding: 1%;
    vertical-align: top;
}

.logo {
    width: 27%;
    height: 20px; 
    padding: 0 0 0 1%;
}

.link-container {
    width: 50%; /*Cambiamos el tamaño de los enlaces para que abarquen más espacio*/
    text-align: right;
    line-height: 30px;
}

.nav-link {
    color: rgb(203, 203, 122);
    font-size: 20px;
    font-weight: bold; /*Los enlaces van en negritas*/
}